<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body onkeydown="backspace();">
    <div class="container">
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <div class="navbar-form" role="search">
                    <input type="text" class="form-control" placeholder="请输入过滤信息" />
                    <button id="filter" type="button" class="btn btn-default">确认过滤</button>
                    <a href="/" class="navbar-right btn btn-link">返回首页</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-xs-12" id="history">
                <table class="table table-bordered table-striped responsive-utilities table-condensed">
                    <tr>
                        <th colspan="2">总计:<%=Number(income-outlay).toFixed(2)%>
                        </th>
                    </tr>
                    <tr>
                        <td>收入:<%=Number(income).toFixed(2)%>
                        </td>
                        <td>支出:<%=Number(outlay).toFixed(2)%>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
<script src="/javascripts/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/custom.js" type="text/javascript"></script>
<script type="text/javascript">
let days = JSON.parse('<%= days %>'.replace(/&#34;/g, '\"'));
$(function() {
    $.each(days, function(index, day) {
        let dayPanel = `<div class="board dayPanel clearfix">
                    <label>${day[0]}</label>
                    <span class="total">总计:${day[1].income - day[1].outlay}</span>
                    <span class="outlay">支出:${Number(day[1].outlay).toFixed(2)}</span>
                    <span class="income">收入:${Number(day[1].income).toFixed(2)}</span>`;
        $.each(day[1].bills, function(index, bill) {
            dayPanel += `<div class="col-md-10 col-xs-10 billPanel">`;
            if (bill.accountin.name == null) {
                dayPanel += `<label class="fleft account">${bill.accountout.name}&nbsp;&nbsp;[<a>编辑</a>&nbsp;&nbsp;<a>删除</a>]</label>
                            <span class="outlay account">${Number(bill.amount).toFixed(2)}</span>`;
            } else if (bill.accountout.name == null) {
                dayPanel += `<label class="fleft account">${bill.accountin.name}&nbsp;&nbsp;[<a>编辑</a>&nbsp;&nbsp;<a>删除</a>]</label>
                            <span class="income account">${Number(bill.amount).toFixed(2)}</span>`;
            } else {
                dayPanel += `<label class="fleft account">${bill.accountout.name} -> ${bill.accountin.name}&nbsp;&nbsp;[<a>编辑</a>&nbsp;&nbsp;<a>删除</a>]</label>
                            <span class="transfer account">${Number(bill.amount).toFixed(2)}</span>`;
            }
            $.each(bill.item, function(index, item) {
                if (bill.accountin.name == null) {
                    dayPanel += `<span class="fleft">${item.category.name}|${item.note}</span>
                        <span class="fright outlay">${Number(item.amount).toFixed(2)}</span>`;
                } else if (bill.accountout.name == null) {
                    dayPanel += `<span class="fleft">${item.category.name}|${item.note}</span>
                        <span class="fright income">${Number(item.amount).toFixed(2)}</span>`;
                }
            });
            dayPanel += `</div>`;
        });
        dayPanel += `</div>`;
        $('#history').append(dayPanel);
    });
});
</script>
